*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-size: $base_font_size;
    box-sizing: border-box;
    color: $base_font_color;
    font-family: $base_font;
}

header{
	margin:0;
    padding:0;
    overflow: hidden;
}

.container{
    margin: 0 auto;
    padding: 0;
    max-width: $content_width;
}


h2{
    line-height: 1.3em;
}

p{
    line-height: 1.6em;
}

h3{
    color: $azul_oscuro_oc;
    line-height: 1.3em;
}

ul, ol{
    line-height: 1.6em;
    padding: 0 1.1em;

    li{
        margin: 0.8em 0;
    }
}

video{
    width: 100%;
    margin: 2em auto;
    display: block;
}

img{
    max-width: 100%;
}

footer{
	background-color: #333333;	
	color: #ffffff;
	margin:0;
    padding:0;
    overflow: hidden;
    .footer-content{
        width: 80%;
        margin: 25px auto;
        .logo{
            width:100px;
            display:block;
            margin:0 auto;
        }
    }
}



