$image_path: "../img/";
$fonts_path: "../fonts/";
$base_font: "roboto";
$base_font_size: 17px;
$base_font_color: #000000;
$featured_color: #f5f5f5;
$content_width: 960px;

$verde_oc: #6eb7a6;
$azul_oc: #a6c2dd;
$verde_oscuro_oc: #008d76;
$azul_oscuro_oc: #0063a6;

@import "_roboto.scss";
@import "_layout.scss";

.header_logo{
    margin: 0 auto;
    display: block;
}

.main_menu{
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        margin: 1em;
        border-radius: 5px;
        width: 280px;
        
        img{
            border-radius: 5px;
            object-fit: cover;
        }
        p{
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0.9em;
            color: #fff;
            font-size: 1.8em;
            text-transform: uppercase;
            height:100%;
            line-height: 148px;
        }
        a{
            height:100%;
            display: block;
            text-decoration: none;
            color: $base_font_color;
        }


    }
    .card:hover{
        img{
            opacity:0.8;
        }
    }
    .deactivate{
        pointer-events: none;
        cursor: default;
        opacity: 0.4;
    }

}


.introduction{
    padding: 0.5em 1.5em;
    background-color: $featured_color;
    border-radius: 5px;
}

.tutorial{
    padding: 0.5em 1.5em;
    border-top: solid 1px grey;
    margin-top: 1em;
    img{
        display: block;
        margin: 2em auto;
    }
}

.template{
    padding: 0.5em 1.5em;
    margin-top: 2em;    
    background-color: $featured_color;
    border-radius: 5px;
    .links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4em;
        margin: 0 0 0.5em 0;
        h5{
            font-size: 0.9em;   
            margin:0;

        }
        a{
            display: block;
            margin: 1em 0;            
            padding: 0.4em 0.8em;
            border-radius: 5px;
            background-color: $verde_oscuro_oc;
            color: #ffffff;         
            font-size: 0.9em;   
            text-decoration: none;
        }
        a:hover{
            background-color: $verde_oc;
        }        
    }
}




#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}




#return-to-index {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    // display: none;
    transition: all 0.3s ease;
}
#return-to-index i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 17px;
    top: 15px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-index:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-index:hover i {
    color: #fff;
    left: 8px;
}





.drawer {
    height: 100%; 
    width: 250px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    transition: all 0.5s ease;
    -webkit-box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.61);
    box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.61);
    
    img{
        display: block
    }
    h2{
        padding: 1em;
        color: $featured_color;
        margin:0;
        height: 70px;
        line-height: 2em;
        vertical-align: middle;
        display: inline-block;
        font-size: 1em;
        a{
            text-decoration: none;
            color: $featured_color;
        }
    }

    ul{
        display: block;
        background-color: #333333;
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        li{
            list-style: none;
            border-bottom: 1px solid #111;
            padding: 0;
            margin: 0;
            line-height: 1.5em;
            a{
                display: block;
                padding: 0.5em 1em;
                color: $featured_color;
                text-decoration: none;
            }
            a:hover{
                background-color: $azul_oscuro_oc;
            }
         
        }
        ul{
            font-size:0.9em;
            padding-left: 1em;
            a:hover{
                background-color: $verde_oscuro_oc;
            }
        }   
    }

    .pdf-download{
        display: block;
        padding: 0.8em 1em;
        color: $featured_color;
        font-size: 0.9em;
        margin: 0;
        img{
            height: 1.8em;
            display: inline-block;
        }
        span{
            display: inline-block;
            height: 1.8em;
            vertical-align: top;
            line-height: 1.8em;
            padding-left: 0.5em;
        }
    }
    .pdf-download:hover{
        background-color: $verde_oscuro_oc;
    }
}

.drawer-button{
    cursor:pointer;
    display: block;
    background-color: #111;
    color: $featured_color;
    position: fixed; /* Stay in place */
    left: 180px;
    top: 0; /* Stay at the top */
    z-index: 1; /* Stay on top */
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    height: 30px;
    width: 70px;
    line-height: 25px;
    margin: 0;
    font-size: 0.9em;
    border-radius: 0 0 7px 7px;
    transition: all 0.5s ease;
    -webkit-box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.61);
    box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.61);
}

.body_with_drawer{
    margin-left: 250px;
    transition: all 0.5s ease;
}

.hidden-drawer{
    left:-250px;
}

.hidden-button{
    left:-70px;
}



